#home{
    display: flex;
    min-height: calc(100vh - 80px);
    align-items: center;
}

#cta{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}

#cta .title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1d1d11;
}

#cta .title span{
    color: #E25822;
    font-weight: 600;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);
}

#cta .description{
    font-size: 1.2rem;
    text-align: justify;
}

#cta .description span{
    color: rgb(255, 100, 20);
    font-weight: 700;
}

.cta__buttons{
    display: flex;
    flex-wrap: wrap;
}

.cta__buttons a{
  text-decoration: none;
  color: #1d1d1d;
  transition: box-shadow .3s ease;
}

.cta__buttons a:hover{
    box-shadow: 8px 12px 12px 8px rgba(0, 0, 0, 0.5 );
}

#banner{
    height: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    max-height: 80vh
}


.slide{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    
}

.slide__image{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.1);
}

.slide__image.active{
    opacity: 1;
}

.slide__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.slide__dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot{
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active{
    background: rgb(255, 100, 20)
}


@media screen and (max-width: 1024px){
    #cta{
        width: 50%;
    }
}

@media screen and ( max-width: 768px) {
    #home{
        flex-direction: column;
        align-items: center;
    }

    #cta{
        width: 100%;
    }

    .cta__buttons{
        justify-content: center;
    }

    #banner{
        width: 100%;
        height: 300px;
        padding-left: 0;
        margin-top: 20px;
    }

    .slide{
        height: 300px;
    }
}

@media screen and (max-width: 480px){
    #cta .title{
        font-size: 2rem;
    }
}



